body {
  font-family: "Oxygen", sans-serif;
}

#heading p {
  font-size: 6vw;
}

.section-content {
  background-color: aquamarine;
  p.heading {
    font-size: 2em;
    padding: 10px;
  }
  p.content {
    padding: 10px;
  }
}

/********** Large devices only **********/
@media (min-width: 1200px) {
}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}

/********** Extra small devices only **********/
@media (max-width: 767px) {
}

/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
}
